@font-face {
    font-family: 'Moon';
    font-weight: 700;
    src: url('../../fonts/MoonBold.otf');
}

@font-face {
    font-family: 'Moon';
    font-weight: 400;
    src: url('../../fonts/MoonLight.otf');
}